.cont{

display:flex;

}

.cont1{
    flex:2;
    height:200px;
background-color: rgb(36, 63, 182);
margin:10px;
}

.cont2{
    flex:1;
    height:100px;
background-color: rgb(32, 192, 46);
margin:10px;
}

.cont3{
    flex:3;
background-color: rgb(218, 30, 177);
margin:10px;
}